[submodule "tests/planck_unit"]
	path = tests/planck_unit
	url = https://github.com/iondbproject/planck-unit
[submodule "src/iondb"]
	path = src/iondb
	branch = release
	url = https://github.com/iondbproject/iondb
